stdlib/xml/validate/example.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="a">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="b" type="xsd:string" maxOccurs="unbounded"/>
        <xsd:element name="c" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
